In [1]:
import numpy as np
from sympy.utilities.iterables import multiset_permutations
import time
import pandas as pd
import gurobipy as grb
import datetime
import random
np.set_printoptions(edgeitems=15,linewidth=600)

%load_ext autoreload
%autoreload 2
import sys
import os
sys.path.append(os.path.join(os.getcwd(), '..'))
from src.optimization.mip_model import *

In [2]:
start = time.time()

In [3]:
data = pd.read_excel('../data/data_template_blank.xlsx').sample(3)
data['current_age'] = datetime.datetime.now().year - pd.to_datetime(data.purchasedate).dt.year
data = data.reset_index().rename({"index":"vehicle_idx"},axis=1)

In [4]:
mip = MIP(data,UI_params)

In [5]:
keepSchedules = mip.make_keep_schedules()

In [6]:
age = mip.get_vehicle_age(keepSchedules)#[50:80]

In [7]:
annual_mileage = mip.make_mileage()

In [8]:
odometer = mip.make_odometer(annual_mileage,age)

In [9]:
acquisition = mip.get_acquisition_cost()

In [10]:
is_ice,is_ev = mip.get_vehicle_type_trackers()

In [11]:
consumables = mip.get_consumables(annual_mileage,is_ice,is_ev)

In [12]:
emissions = mip.get_emissions(annual_mileage,is_ice,is_ev)

In [13]:
maintenance = mip.get_maintenance_cost(odometer)

In [14]:
infeasible_filter = mip.find_infeasible_schedules(odometer,age)
# mip.replacement_schedules[~infeasible_filter]

In [15]:
m,x,vehicles,validSchedulesPerVehicle = mip.make_model(consumables,acquisition,maintenance,emissions,infeasible_filter)

Using license file C:\Users\elynch\gurobi.lic
Academic license - for non-commercial use only
Changed value of parameter PoolSearchMode to 2
   Prev: 0  Min: 0  Max: 2  Default: 0
Changed value of parameter PoolSolutions to 3
   Prev: 10  Min: 1  Max: 2000000000  Default: 10
Changed value of parameter TimeLimit to 30.0
   Prev: inf  Min: 0.0  Max: inf  Default: inf
Gurobi Optimizer version 9.0.3 build v9.0.3rc0 (win64)
Optimize a model with 34 rows, 203 columns and 3642 nonzeros
Model fingerprint: 0xdf57328d
Variable types: 2 continuous, 201 integer (201 binary)
Coefficient statistics:
  Matrix range     [1e+00, 5e+04]
  Objective range  [2e+03, 1e+06]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 1e+06]
Found heuristic solution: objective 52028.200000
Presolve removed 31 rows and 0 columns
Presolve time: 0.00s
Presolved: 3 rows, 203 columns, 201 nonzeros
Variable types: 2 continuous, 201 integer (201 binary)
Found heuristic solution: objective 48139.000000

Root relaxation: objective 4.813900e+04, 3 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0          -    0      48139.0000 48139.0000  0.00%     -    0s

Optimal solution found at node 0 - now completing solution pool...

    Nodes    |    Current Node    |      Pool Obj. Bounds     |     Work
             |                    |   Worst                   |
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0          -    0      52028.2000 48139.0000  7.48%     -    0s
     0     0          -    0      52028.2000 48139.0000  7.48%     -    0s
     0     2          -    0      52028.2000 48139.0000  7.48%     -    0s

Explored 35 nodes (4 simplex iterations) in 0.02 seconds
Thread count was 12 (of 12 available processors)

Solution count 3: 48139 48139 48139

Optimal solution found (tolerance 1.00e-04)
Best objective 4.813900000000e+04, best bound 4.813900000000e+04, gap 0.0000%

In [16]:
end = time.time()
print("--- %s seconds ---" % (time.time() - start))

--- 2.273496627807617 seconds ---

In [23]:
#multiple solutions
options = {}
# options = ['A','B','C']
for sol in range(0,mip.numDesiredSolutions):
    solution = []
    print()
    print(f'Option: {sol}')
    m.setParam('SolutionNumber',sol)
    print(f'obj:{m.getObjective().getValue()}')
    
    for v in vehicles:
        for s in validSchedulesPerVehicle[v]:
            if x[v,s].xn==1:
                print(f'   Vehicle: {v+1} Schedule: {s} {mip.replacement_schedules[v,s]}')  
                solution.append([v]+[s]+list(mip.replacement_schedules[v,s]))

Option: 0
obj:48139.0
   Vehicle: 1 Schedule: 505 [1 0 0 0 0 0 0 1 0 0 0 0 0 0 1]
   Vehicle: 2 Schedule: 524 [1 0 0 0 0 1 0 0 0 0 1 0 0 0 0]
   Vehicle: 3 Schedule: 505 [1 0 0 0 0 0 0 1 0 0 0 0 0 0 1]

Option: 1
obj:48139.0
   Vehicle: 1 Schedule: 14 [1 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
   Vehicle: 2 Schedule: 14 [1 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
   Vehicle: 3 Schedule: 14 [1 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

Option: 2
obj:48139.0
   Vehicle: 1 Schedule: 106 [1 0 0 0 0 0 0 0 0 0 0 0 0 0 1]
   Vehicle: 2 Schedule: 14 [1 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
   Vehicle: 3 Schedule: 14 [1 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [26]:
years = []

NameError: name 'years' is not defined

In [25]:
pd.DataFrame(solution,columns=['vehicle_idx','solution_idx'])

   0    1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0   0  106   1   0   0   0   0   0   0   0   0   0   0   0   0   0   1
1   1   14   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0
2   2   14   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0

In [22]:
mip.replacement_schedules[v,s]

array([1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1])

In [18]:
print(f'age: {age[0,29]}')
print()
print(f'annual_mileage: {annual_mileage[0,29]}')
print()
print(f'odometer: {odometer[0,29]}')
print()
print(f'acquisition cost: {acquisition[0,29]}')
print()
print(f'maintenance cost: {maintenance[0,29]}')
print()
print(f'consumables cost: {consumables[0,29]}')
print()
print(f'emissions: {emissions[0,29]}')

age: [ 5  6  7  8  9 10 11 12 13  0  0  1  2  3  4]

annual_mileage: [ 9377.  9571. 10284.  9035.  8208.  9728.  8410.  9132.  7300.  8035. 10828.  8205.  8641.  8677.  9342.]

odometer: [ 46885.  57426.  71988.  72280.  73872.  97280.  92510. 109584.  94900.      0.      0.   8205.  17282.  26031.  37368.]

acquisition cost: [    0.     0.     0.     0.     0.     0.     0.     0.     0. 36000. 36000.     0.     0.     0.     0.]

maintenance cost: [1200. 1200. 1200. 1200. 1200. 1200. 1200. 1200. 1200. 1000. 1000. 1000. 1200. 1200. 1200.]

consumables cost: [1160. 1184. 1272. 1117. 1015. 1203. 1040. 1129.  903.  183.  247.  187.  197.  198.  213.]

emissions: [1195. 1220. 1310. 1151. 1046. 1240. 1072. 1164.  930.    0.    0.    0.    0.    0.    0.]